@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

/* Add transitions for theme switching */
*, *::before, *::after {
  transition: background-color 0.3s ease,
              border-color 0.3s ease,
              color 0.3s ease,
              fill 0.3s ease;
}

/* Exclude transitions for media elements */
.prose img,
img,
video,
svg {
  transition: none;
}

.page-title {
  @apply text-2xl md:text-3xl font-bold mb-4 text-slate-600 dark:text-slate-200;
}