@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

/* Add transitions for theme switching */
*, *::before, *::after {
  transition: background-color 0.3s ease,
              border-color 0.3s ease,
              color 0.3s ease,
              fill 0.3s ease;
}

/* Exclude transitions for media elements */
.prose img,
img,
video,
svg {
  transition: none;
}

.page-title {
  @apply text-2xl md:text-3xl font-bold mb-4 text-slate-600 dark:text-slate-200;
}

:root {
  --focus-ring-color: @apply text-blue-600 dark:text-blue-500;
}

*:focus-visible {
  outline: 2px solid var(--focus-ring-color);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Update the prose image styles */
.prose img {
  @apply relative w-full mx-0 rounded;  /* Default mobile styling */
}

/* On larger screens, extend slightly beyond container */
@media (min-width: 640px) {
  .prose img {
    @apply relative w-[calc(100%+4rem)] -mx-8;
  }
}